<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>基本指令</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 

  <style>
    [v-cloak]:{display:none;}
    #btnWrapper{width:100px;height:100px;background:hotpink;border:3px solid black;text-align: center;}
  </style>
</head>

<body>
    <div id="app">
      {{xx}} 

      <div v-once>{{xx}}</div>

      <br>
      <hr>
      <h4>条件渲染  v-if   v-else-if   v-else  </h4>
      <div v-if='3>4'>{{apple}}</div>
      <div v-else-if='8>5'>{{banana}}</div>
      <div v-else>{{pineapple}}</div>

      <div v-if='type==="user"'>
        用户名:<input type="text" placeholder="请输入用户名" key='user'>
      </div>
      <div v-else-if='type==="password"' >
        密码:<input type="text" placeholder="请输入密码"key='psd'>
      </div>
      <button v-on:click='toggleType'>点我切换</button>


      <h4>v-for </h4>
      <ul>
        <h4>v-for 遍历多个对象</h4>
        <li v-for="(item,index) in items">{{index}}----{{item.name}}-----{{item.age}}  </li>
      </ul>
        
      <ul>
        <h4>v-for 遍历一个对象的多个属性</h4>
        <li v-for= '(attr,key,index) in obj'>{{index}}--------{{key}}--------{{attr}}</li>
      </ul>

      <h4>数组更新</h4>
      {{arr}}
      <br>
      <button @click='arrReverse'>点击翻转数组</button>
      <button @click='arrSort'>点击给数组排序(按length)</button>
      <hr>
      <button @click='arrChangeItem'>点击改变数组指定项</button>
      <button @click='arrChangeLength'>点击改变数组长度</button>
      <br>
      <div>{{matchXx}}</div>
      <hr>

      <h4>方法与事件</h4>
      <div>点击次数为:{{count}}</div>
      <button @click='handle()'>点击次数增加1</button>
      <button @click='handle(8)'>点击次数增加8</button>
      <hr><br>
      <h4>修饰符</h4>
      <div id='btnWrapper'  @click='divClick'>这是div
        <button @click.stop='btnClick'>这是button</button>
      </div>
      <br>
      <div>
        <form action="" @submit.prevent='onSubmit'>
          <button type="submit" >提交表单</button>
        </form>
      </div>
 


      <li >.stop   阻止事件向上冒泡</li>
      <input type="text"@keyup.shift='onEnter' >

    </div>

      
    
</body>
<script>
  // while (true){
  // }
  var app=new Vue({
    el: "#app",
    data: {
      xx:"hello world",apple:'apple',banana:'banana',pineapple:"pineapple",
      type:"user",
      items:[{name:'孙悟空',age:18},{name:'猪八戒',age:26},{name:'沙和尚',age:34}],
      obj:{name:'老王',age:19,gender:'男',address:'地球'},
      arr:['aaa','e','hello world','bbbb'],
      count:0,

    },
    methods: {
      toggleType:function(){
        this.type=(this.type==='user'?'password':'user')

      },
      arrReverse:function(){
        this.arr.reverse()
      },
      arrSort:function(){
        this.arr.sort(function(m,n){
          return m.length-n.length ;
        }) ;    
      },
      arrChangeItem:function(){
        // this.arr[0]='xxxx'//Vue 无法监测到  执行后页面不会渲染
        Vue.set(app.arr,1,'cccccc')  //Vue 可以监测 执行后页面会渲染
      },
      arrChangeLength:function(){
        // this.arr.length=8//Vue 无法监测到 执行后页面不会渲染
        app.arr.splice(2)  //Vue  可以监测 执行后页面会渲染
      },
      handle:function(count){
        console.log(count,2222)        
        count=count||1
        this.count+=count
      },
      btnClick:function(){
        alert('button 被点击了')
      },
      divClick:function(){
        alert('div 被点击了')
      },
      onSubmit:function(){
        alert('不重载页面了')
      },
      onEnter:function(){
        console.log("xx")
      }


    },
    computed: {
      matchXx:function(){
        return this.arr.filter(function(str){
          return str.match(/bb/)
        })
      }
    }
  });

</script>

</html>